.portfolio-detatil {
  width: 100%;
  text-align: center;
}
.portfolio-detatil button {
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: gray;
  opacity: 0.6;
}
.portfolio-detatil button:hover {
  opacity: 0.8;
}
.portfolio-detatil button:active {
  opacity: 0.6;
}
