.close {
  position: fixed;
  top: 20px;
  left: 20px;
  margin: 0;
  color: gray;
}
.close svg:hover {
  animation-name: rotate-animation;
  animation-duration: 0.2s;
  animation-timing-function: linear; /* 一定のスピード */
}
@keyframes rotate-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}
