#hobby {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
/* 写真スライド */
.hobby-gallery {
  margin-top: 100px;
  width: 100%;
  height: 40vw; /* 画像のheight + 1vw */
  max-height: 450px; /* 画像の最大height + 10px */
  display: flex;
  justify-content: center;
  position: relative;
}
.arrow {
  display: flex;
  fill: black;
  opacity: 0.5;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  transition: all 0.2s;
}
/* svgはサイズを指定しないとスマホで表示されないバグがある */
@media (min-width: 640px) {
  .arrow svg {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 640px) {
  .arrow svg {
    width: 50px;
    height: 50px;
  }
}
.hobby-gallery .arrow:first-child {
  top: 50%;
  left: 50%;
  z-index: 50;
  transform: translate(calc(-50% - 30vw), -50%) scale(1);
}
.hobby-gallery .arrow:last-child {
  top: 50%;
  right: 50%;
  z-index: 50;
  transform: translate(calc(50% + 30vw), -50%) scale(1);
}
.hobby-gallery .arrow:first-child:hover {
  opacity: 0.7;
  transform: translate(calc(-50% - 30vw), -50%) scale(1.2);
}
.hobby-gallery .arrow:last-child:hover {
  opacity: 0.7;
  transform: translate(calc(50% + 30vw), -50%) scale(1.2);
}
.slide-area {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  animation-duration: 0.3s;
  animation-timing-function: linear; /* 一定のスピード */
  animation-fill-mode: forwards;
}
.hobby-img {
  width: 60vw;
  height: 40vw;
  max-width: 660px;
  max-height: 440px;
  border-radius: 20px;
  position: absolute;
  top: 0%;
  left: 50%;
}
.left-img {
  transform: translateX(calc(-50% - 62vw)) scale(1); /* 真ん中より1/4画面分左 */
}
.center-img {
  transform: translateX(-50%) scale(1);
}
.right-img {
  transform: translateX(calc(-50% + 62vw)) scale(1); /* 真ん中より1/4画面分右 */
}
.hobby-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover; /* 画像が歪むことなくwidthとheightのサイズにトリミング*/
}
/* 趣味の紹介文章 */
.hobby-introduction {
  margin-top: 20px;
  width: 100%;
  height: 90vw;
  max-height: 400px;
  position: relative;
  perspective: 1000px;
}
.hobby-sentence {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(0deg);
  transform-style: preserve-3d;
  width: 90vw;
  height: 90vw;
  max-width: 350px;
  max-height: 350px;
  border-radius: 50%;
  background-color: #00ced17b;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: gray;
  opacity: 0;
}
.hobby-sentence p {
  width: 200px;
  text-align: center;
}
