#hobby {
  width: 100%;
  overflow-x: hidden;
}
.hobby-gallery {
  margin-top: 100px;
  width: 100%;
  height: 46vw; /* 画像のscale(1.1)したサイズ */
  max-height: 440px; /* 画像の最大height */
  display: flex;
  justify-content: center;
  position: relative;
}
.hobby-gallery span {
  font-size: 3rem;
  color: #d3d3d3;
  font-weight: bold;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  transition: all 0.2s;
  animation-name: change-color-animation;
  animation-duration: 1.5s;
  animation-timing-function: linear; /* 一定のスピード */
  animation-iteration-count: infinite; /* 無限に繰り返す */
}
@keyframes change-color-animation {
  0% {
    color: #d3d3d3;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #d3d3d3;
  }
}
.hobby-gallery span:first-child {
  top: 50%;
  left: 50%;
  z-index: 50;
  transform: translate(calc(-50% - 35vw), -50%) scale(1);
}
.hobby-gallery span:last-child {
  top: 50%;
  right: 50%;
  z-index: 50;
  transform: translate(calc(50% + 35vw), -50%) scale(1);
}
.hobby-gallery span:hover {
  font-size: 4rem;
}
.hobby-gallery span:active {
  font-size: 3rem;
}
.hobby-img {
  width: 70vw;
  height: 46vw;
  max-width: 660px;
  max-height: 440px;
  border-radius: 20px;
  background-color: black;
  position: absolute;
  top: 0%;
  left: 50%;
}
.first-left-img {
  z-index: 10;
  transform: translateX(calc(-50% - 25vw)) scale(0.75); /* 真ん中より1/4画面分左 */
}
.first-center-img {
  z-index: 30;
  transform: translateX(-50%) scale(1);
}
.first-right-img {
  transform: translateX(calc(-50% + 25vw)) scale(0.75); /* 真ん中より1/4画面分右 */
  z-index: 10;
}
.first-left-img img {
  opacity: 0.6;
}
.first-center-img img {
  opacity: 1;
}
.first-right-img img {
  opacity: 0.6;
}
.hobby-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover; /* 画像が歪むことなくwidthとheightのサイズにトリミング*/
}
