footer {
  margin-top: 50px;
  padding: 50px;
  border-top: 3px #fa8072 solid;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
  transition: all 0.3s;
}
footer a:hover {
  opacity: 1;
}
footer h4 {
  text-align: center;
}
